# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

cmake-build-debug/gutenberg.txt
cmake-build-debug/edited.txt
cmake-build-debug/output.txt